@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

@media screen and (min-width: 1640px) {
  .container {
    max-width: 700px;
    padding: 0;
    align-content: center;
    justify-content: center;
  }

  .card-body {
    padding-left: 40%;
    padding-right: 40%;
  }
  .card {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: transparent;
    color: white;
  }
  .card-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #d9d9d9;
  }
}

@media screen and (max-width: 1639px) {
  .container {
    max-width: 700px;
    padding: 0;
    align-content: center;
    justify-content: center;
  }

  .card-body {
    padding-left: 35%;
    padding-right: 35%;
  }
  .card {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: transparent;
    color: white;
  }
  .card-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #d9d9d9;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 700px;
    padding: 0;
    align-content: center;
    justify-content: center;
  }

  .card-body {
    padding-left: 25%;
    padding-right: 25%;
  }
  .card {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: transparent;
    color: white;
  }
  .card-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #d9d9d9;
  }
}

@media screen and (max-width: 600px) {
  .container {
    min-height: 500px;
  }
  .card-body {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 15%;
    background-color: transparent;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
  }
  .card-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #d9d9d9;
  }
}

body {
  background-color: #182b3d;
  align-content: center;
  justify-content: center;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

html {
  height: 100%;
}

.card-body {
  height: 100%;
  margin-top: 12vw;
  
}

.card-title {
  text-align: center;
  margin-top: 50% !important;
  padding-left: 20px;
  padding-right: 20px;
}

fieldset {
  color: #d9d9d9;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.form-group {
  padding-top: 5% !important;
}

.form-grouprow {
  margin-top: 5% !important;
  flex-direction: row;
  justify-content: space-between;
}

.form-col {
  float: left;
}

.form-col1 {
  float: right;
}

.select2 {
  color: black;
  width: 100% !important;
}

.label {
  padding-bottom: 5px;
}

#Bairro {
  padding-top: 5%;
}

.label1 {
  padding-bottom: 5px;
  padding-left: 20%;
}

.labelcheckbox {
  width: 90%;
  color: #d9d9d9;
  font-size: small;
  padding-bottom: 20px;
}

.checkbox {
  width: 10%;
  float: left;
  margin-top: 5px;
}

#btnPress {
  width: 100%;
  margin-bottom: 5%;
  padding: 10px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #2e608c;
  color: white;
  border: #2e608c;
}

#btnCancel {
  width: 100%;
  margin-bottom: 5%;
  padding: 10px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border-color: #2e608c;
}
.texto {
  text-align: center;
  color: #607f99;
  text-decoration: underline;
  padding-bottom: 10px;
}

p {
  margin: 0%;
}


@media screen and (min-width: 1640px) {
    .container {
      max-width: 700px;
      padding: 0;
      align-content: center;
      justify-content: center;
    }
  
    .card-body {
      padding-left: 25%;
      padding-right: 25%;
    }
    .card {
      width: 100%;
      margin-top: 5%;
      margin-bottom: 10%;
      background-color: transparent;
      color: white;
    }
    .card-text {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #d9d9d9;
    }
  }
  
  @media screen and (max-width: 1639px) {
    .container {
      max-width: 700px;
      padding: 0;
      align-content: center;
      justify-content: center;
    }
  
    .card-body {
      padding-left: 30%;
      padding-right: 30%;
    }
    .card {
      width: 100%;
      margin-top: 5%;
      margin-bottom: 10%;
      background-color: transparent;
      color: white;
    }
    .card-text {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #d9d9d9;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .container {
      max-width: 700px;
      padding: 0;
      align-content: center;
      justify-content: center;
    }
  
    .card-body {
      padding-left: 25%;
      padding-right: 25%;
    }
    .card {
      width: 100%;
      margin-top: 5%;
      margin-bottom: 10%;
      background-color: transparent;
      color: white;
    }
    .card-text {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #d9d9d9;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container {
      min-height: 500px;
    }
    .card-body {
      width: 100%;
      margin-top: 10%;
      margin-bottom: 15%;
      background-color: transparent;
      color: white;
      padding-left: 10%;
      padding-right: 10%;
    }
    .card-text {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #d9d9d9;
    }
  }
  
  body {
    background-color: #182b3d;
    align-content: center;
    justify-content: center;
    height: 100%;
  }
  
  html {
    height: 100%;
  }
  
  .card-body {
    height: 100%;
    margin-top: 12vw;
    
  }
  
  .card-title {
    text-align: center;
    margin-top: 50% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  fieldset {
    color: #d9d9d9;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  
  .form-group {
    padding-top: 5% !important;
  }
  
  .form-grouprow {
    margin-top: 5% !important;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form-col {
    float: left;
  }
  
  .form-col1 {
    float: right;
  }
  
  .select2 {
    color: black;
    width: 100% !important;
  }
  
  .label {
    padding-bottom: 5px;
  }
  
  #Bairro {
    padding-top: 5%;
  }
  
  .label1 {
    padding-bottom: 5px;
    padding-left: 20%;
  }
  
  .labelcheckbox {
    width: 90%;
    color: #d9d9d9;
    font-size: small;
    padding-bottom: 20px;
  }
  
  .checkbox {
    width: 10%;
    float: left;
    margin-top: 5px;
  }
  
  #btnPress {
    width: 100%;
    margin-bottom: 5%;
    padding: 10px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #2e608c;
    color: white;
    border: #2e608c;
  }
  
  #btnCancel {
    width: 100%;
    margin-bottom: 5%;
    padding: 10px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border-color: #2e608c;
  }
  .texto {
    text-align: center;
    color: #607f99;
    text-decoration: underline;
    padding-bottom: 10px;
  }
  
  p {
    margin: 0%;
  }

@media screen and (min-width: 650px) {
  .container {
    max-width: 700px;
    padding: 0;
    align-content: center;
    justify-content: center;
  }

  .card-body {
    padding-left: 20%;
    padding-right: 20%;
  }

  .buttons {
    padding-left: 20%;
    padding-right: 20%;
  }
}

body {
  background-color: #f2f2f2;
  align-content: center;
  justify-content: center;
}

.form-group {
  margin-top: 5% !important;
}

.form-grouprow {
  margin-top: 5% !important;
  flex-direction: row;
  justify-content: space-between;
}

.form-col {
  float: left;
}

.form-col1 {
  float: right;
}

.label {
  padding-bottom: 2px;
}

#btnCancelar {
  width: 45%;
  margin-top: 8%;
  margin-bottom: 5%;
  padding: 10px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #19354D;
  color: white;
  border: #19354D;
  margin-right: 10%;
}
#btnSalvar {
  width: 45%;
  margin-top: 8%;
  margin-bottom: 5%;
  padding: 10px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #2e608c;
  color: white;
  border: #2e608c;
  float: right;
}

#btnEditar {
  width: 100%;
  margin-top: 8%;
  margin-bottom: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: #19354D;
  color: white;
  border: #19354D;
}

.texto {
  text-align: center;
  color: #607f99;
  text-decoration: underline;
  padding-bottom: 10px;
}
